.hamburger {
   display: none !important;
}

.center {
   font-size: 80%;
   display: flex;
}

.auth {
   display: flex;
}

@media only screen and (max-width: 768px) {
   .center {
      display: none !important;
   }

   .hamburger {
      display: inline !important;
   }

   .auth {
      display: none !important;
   }
}
