:root {
  --main-color: #0156FF;
  --dark-color: #090909;
  --orange-color: #E9A426;
  --gray-color: #C8CFDE;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
}

ul {
   padding: 0;
   list-style-type: none;
   margin: 0;
}

.nav-tabs {
   border-bottom: 0px solid transparent !important;
}
.nav-tabs .nav-link {
   border: 0px solid transparent !important;
   color: var(--dark-color) !important;
   padding: 10px 0 !important;
   margin: 0 18px 5px 0 !important;
}

.nav-tabs .nav-link.active {
   color: var(--main-color) !important;
   border-bottom: 1px solid var(--main-color) !important;
}

.form-group input:focus {
   outline: 0px !important; 
   box-shadow: none !important;
}

.bg-main {
   background-color: var(--main-color) !important;
}

.cursor-pointer {
   cursor: pointer !important;
}

.bg-orange {
   background-color: var(--orange-color) !important;
}

.text-orange {
   color: var(--orange-color) !important;
}

.text-dark {
   color: var(--dark-color) !important;
}

.border-main {
   border: 1px solid var(--main-color) !important;
}

.bg-dark {
   background-color: var(--dark-color) !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.text-main {
   color: var(--main-color) !important;
}

.bg-gray {
   background-color: var(--gray-color) !important;
}

.object-cover {
   object-fit: cover;
}

.scroll-horizontally {
   overflow-x: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
   
   &::-webkit-scrollbar {
      display: none;
   }
}
